h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 5rem;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
    color: #343434;x²
}
.container {
    position: relative;
    z-index: -1;
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}
.pulse {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30rem;
}
.pulse circle {
    fill: #ff5154;
    transform: scale(0);
    opacity: 0;
    transform-origin: 50% 50%;
    animation: pulse 4s cubic-bezier(0.5, 0.5, 0, 1);
}
.pulse circle:nth-child(2) {
    fill: #7fc6a4;
    animation: pulse 4s 0.75s cubic-bezier(0.5, 0.5, 0, 1);
}
.pulse circle:nth-child(3) {
    fill: #e5f77d;
    animation: pulse 4s 1.5s cubic-bezier(0.5, 0.5, 0, 1);
}
@keyframes pulse {
    25% {
        opacity: 0.4;
    }
    100% {
        transform: scale(1);
    }
}

footer {
    background-color: black;
    color: white;
}

/* code camion */
body {
    background: #009688;
    font-family: 'Open Sans', sans-serif;
}
.loop-wrapper {
    margin: 0 auto;
    position: relative;
    display: block;
    width: auto;
    height: 250px;
    overflow: hidden;
    border-bottom: 3px solid #fff;
    color: #fff;
}
.mountain {
    position: absolute;
    right: -900px;
    bottom: -20px;
    width: 2px;
    height: 2px;
    box-shadow:
            0 0 0 50px #4DB6AC,
            60px 50px 0 70px #4DB6AC,
            90px 90px 0 50px #4DB6AC,
            250px 250px 0 50px #4DB6AC,
            290px 320px 0 50px #4DB6AC,
            320px 400px 0 50px #4DB6AC
;
    transform: rotate(130deg);
    animation: mtn 20s linear infinite;
}
.hill {
    position: absolute;
    right: -900px;
    bottom: -50px;
    width: 400px;
    border-radius: 50%;
    height: 20px;
    box-shadow:
            0 0 0 50px #4DB6AC,
            -20px 0 0 20px #4DB6AC,
            -90px 0 0 50px #4DB6AC,
            250px 0 0 50px #4DB6AC,
            290px 0 0 50px #4DB6AC,
            620px 0 0 50px #4DB6AC;
    animation: hill 4s 2s linear infinite;
}
.tree, .tree:nth-child(2), .tree:nth-child(3) {
    position: absolute;
    height: 100px;
    width: 35px;
    bottom: 0;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/tree.svg) no-repeat;
}
.rock {
    margin-top: -17%;
    height: 2%;
    width: 2%;
    bottom: -2px;
    border-radius: 20px;
    position: absolute;
    background: #ddd;
}
.truck, .wheels {
    transition: all ease;
    width: 85px;
    margin-right: -60px;
    bottom: 0px;
    right: 50%;
    position: absolute;
    background: #eee;
}
.truck {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/truck.svg) no-repeat;
    background-size: contain;
    height: 60px;
}
.truck:before {
    content: " ";
    position: absolute;
    width: 25px;
    box-shadow:
            -30px 28px 0 1.5px #fff,
            -35px 18px 0 1.5px #fff;
}
.wheels {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/wheels.svg) no-repeat;
    height: 15px;
    margin-bottom: 0;
}

.tree  { animation: tree 3s 0.000s linear infinite; }
.tree:nth-child(2)  { animation: tree2 2s 0.150s linear infinite; }
.tree:nth-child(3)  { animation: tree3 8s 0.050s linear infinite; }
.rock  { animation: rock 4s   -0.530s linear infinite; }
.truck  { animation: truck 4s   0.080s ease infinite; }
.wheels  { animation: truck 4s   0.001s ease infinite; }
.truck:before { animation: wind 1.5s   0.000s ease infinite; }


@keyframes tree {
    0%   { transform: translate(1350px); }
    50% {}
    100% { transform: translate(-50px); }
}
@keyframes tree2 {
    0%   { transform: translate(650px); }
    50% {}
    100% { transform: translate(-50px); }
}
@keyframes tree3 {
    0%   { transform: translate(2750px); }
    50% {}
    100% { transform: translate(-50px); }
}

@keyframes rock {
    0%   { right: -200px; }
    100% { right: 2000px; }
}
@keyframes truck {
    0%   { }
    6%   { transform: translateY(0px); }
    7%   { transform: translateY(-6px); }
    9%   { transform: translateY(0px); }
    10%   { transform: translateY(-1px); }
    11%   { transform: translateY(0px); }
    100%   { }
}
@keyframes wind {
    0%   {  }
    50%   { transform: translateY(3px) }
    100%   { }
}
@keyframes mtn {
    100% {
        transform: translateX(-2000px) rotate(130deg);
    }
}
@keyframes hill {
    100% {
        transform: translateX(-2000px);
    }
}


/* pied de page */

HTML CSS JSResult Skip Results Iframe
EDIT ON
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:300;
    background-color:lightblue;
    color:#FFF;
}
section{
    text-align:center;
}
.footer #button{
    width:35px;
    height:35px;
    border: #727172 12px solid;
    border-radius:35px;
    margin:0 auto;
    position:relative;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
    width:35px;
    height:35px;
    border: #3A3A3A 12px solid;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    position:relative;
}
.footer {
    bottom:0;
    left:0;
    position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    z-index:999;
}
.footer:hover {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    height: 10em;
}
.footer #container{
    margin-top:5px;
    width:100%;
    height:100%;
    position:relative;
    top:0;
    left:0;
    background: #3A3A3A;
}
.footer #cont{
    position:relative;
    top:-45px;
    right:190px;
    width:150px;
    height:auto;
    margin:0 auto;
}
.footer_center{
    width:500px;
    float:left;
    text-align:center;
}
.footer h3{
    font-family: 'Helvetica';
    font-size: 30px;
    font-weight: 100;
    margin-top:70px;
    margin-left:40px;
}